<%- include('partials/header.ejs') -%>
<br>    
    <div class="container">
        <span style="float:right;"><a href="/books/dashboard">
            <button class="btn btn-primary">Back</button> 
        </a></span>   

        <h2 style="margin-bottom: 1em;">Add Book Page</h2>
    
            <%if(message) {%>
                <div class="alert alert-danger"> <%=message%> </div>
            <%}%>

    </div>
    <br>

    <div class="container">
        <form action="/books/add" method="post" class='form form-control'>
            Book Name :
            <input class='form form-control' type="text" name='book_name' required><br>

            Book Price :
            <input class='form form-control' type="number" name='book_price' required><br>

            Book cover URL :
            <input class='form form-control' type="text" name='book_url' required><br>

            Book status :
            <select class="form form-control" name="book_status">
                <option value='1'>In stock</option>
                <option value='0'>Out of stock</option>
                
            </select>
            <br><br>
            <button type="submit" class="btn btn-success">Add</button>
            <br>
        </form> 
    </div>
    
</body>
</html>