<%- include('partials/header.ejs') -%>
<br>    

    <div class="conatiner" style="text-align: center;float: left;margin: 2em;">    
        <a href="member/logout"><button class='btn btn-danger'>logout</button></a>
    </div>

    <div class="container" style="margin: 2em;margin-left: 15%;">    
            <%if(message) {%>
                <div class="alert alert-success"> <%=message%> </div>
            <%}%>
            <div class="container" style="margin: 2em;text-align: center;">
                <a href="home"><button class="btn btn-danger">Go to store page</button></a>
                <a href="books/dashboard"><button class="btn btn-primary">Book Dashboard</button></a>
                <a href="admin/dashboard"><button class="btn btn-warning">Member Dashboard</button></a>
                <a href="order/dashboard"><button class="btn btn-success">Order Dashboard</button></a>
            </div>

    </div>

</body>
</html>