<%- include('partials/header.ejs') -%>
<br>    
    <h3><div class="container">

    </h3>
        <div class="container" style="margin: 2em;">    
                <%if(message) {%>
                    <div class="alert alert-success"> <%=message%> </div>
                <%}%>

                <%if(data.length === 0) {%>
                    <div class="container"> No book here please add it <a href="../books/add">HERE!</a> </div>
                <%} else{%>

                    <%=data%>

                    <%}%>
           
        </div>

    </div>
    
</body>
</html>