<%- include('partials/header.ejs') -%>
<br>    
    <h3><div class="container">
        Welcome <br>
    </h3>
        <div class="container" style="margin: 2em;">    
                <%if(message) {%>
                    <div class="alert alert-success"> <%=message%> </div>
                <%}%>

                <a href="log">test</a><br>
                <a href="member/logout">logout</a>
           
        </div>

    </div>
    
</body>
</html>