<%- include('partials/header.ejs') -%>
<br>    
    <h3><div class="container">
        Welcome <br>
    </h3>
        <div class="container" style="margin: 2em;">    
                <%if(message) {%>
                    <div class="alert alert-success"> <%=message%> </div>
                <%}%>
           
        </div>

    </div>
    
</body>
</html>