<%- include('partials/header.ejs') -%>
<br>    
    <h1><div class="container">
        <a href='member/register' class="btn btn-success">Register</a>
        <a href='member/login' class="btn btn-primary">Login</a>
    </h1></div>
    
</body>
</html>