<%- include('partials/header.ejs') -%>
<br>    
    <div class="container">
        <h2 style="margin-bottom: 1em;">Register Page</h2>
    
            <%if(message) {%>
                <div class="alert alert-primary"> <%=message%> </div>
            <%}%>
       
    </div>
    <br>


    <div class="container">
        <form class='form form-control' method="POST" action="register">
            First Name :
            <input type="text" name="first_name" required class='form form-control'> <br>
            Last Name :
            <input type="text" name="last_name" required class='form form-control'> <br>
            Username :
            <input type="text" name="username" required class='form form-control'> <br>
            Password :
            <input type="password" name="password" required class='form form-control'> <br>
            Confirmed-Password :
            <input type="password" name="conPassword" required class='form form-control'> <br>

            <button class="btn btn-success" type="submit">Register</button>

        </form>
    </div>
    
</body>
</html>